.text-align-center {
	text-align: center;
}
.og-price {
	color:red;
	text-decoration: line-through;
}

.fa-navbar-cart {
	
	vertical-align: middle;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
    
}

.container-alert-flash{
	position: absolute;
	top: 10px;
	z-index: 1000;
	width: 100%;
	right:0%;
	margin: 0px;
	display: none;
}