{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1 class="text-align-center">About Us</h1>
		<p><strong>At Cauldron</strong>, our vision is to be Earth's most customer centric company; to build a place where people can come to find and discover virtually anything they want to buy online. With Cauldron.in, we endeavor to build that same destination in India by giving customers more of what they want – vast selection, low prices, fast and reliable delivery, and a trusted and convenient online shopping experience – and provide sellers a world-class e-commerce platform. We are committed to ensure 100% Purchase Protection for your shopping done on Cauldron.in so that you can benefit from a safe and secure online ordering experience, convenient payment options such as cash on delivery, easy returns and enjoy a completely hassle free online shopping experience. </p>
		<p>We launched with Books and Movies & TV shows and have expanded our offerings to include the Kindle family of E-Readers, the Cauldron Fashion Store and various products under different categories. Customers can now buy products from popular brands across categories such as Samsung mobiles, Dell laptops, Canon cameras, Fastrack watches and many more at Cauldron.in. Don’t forget to check out the Cauldron Exclusives Store and also, shop for Today's Deals on Cauldron and save big every day. On Cauldron, shopping is not only about buying, it's also about gifting and through Gift a Smile you can give products online to charity through verified NGOs. </p>
		<p>Customers can also shop our full selection of products using the Cauldron App for Android, iOS and Windows which offers customers a convenient, fast and secure way to search, browse, compare offers, and shop online quickly and easily, at anytime from anywhere.</p>
		<p>It is still “Day 1” and we continue to relentlessly focus on using our investments in technology and innovation to transform the lives of our customers and all our partners. We strive to transform the way India shops and the way India sells.</p>
	</div>
</div>

{% endblock %}