{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<table class="table">
	<thead>
		<tr><th>Sr No</th><th>Product Name</th><th>Inventory</th><th>Price</th></tr>
	</thead>
	<tbody>
		{% for object in object_list %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td><a href="{{ object.get_absolute_url }}" target="_blank">{{ object }}</a></td>
			<td>{{ object.inventory }}</td>
			<td>{{ object.price }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<div class="row">
	<div class="container">
		<div class="col-sm-4">
			<form method="POST" action=""> {% csrf_token %}
				{{ formset.management_form }}
				{% for form in formset %}
					<p class="lead" style="color:green"> {{ form.instance.product.title }}</p>
					<p class="lead" style="color:red"> {{ form.instance.title }}</p>
					{{ form|crispy }}
				{% endfor %}
				<input type="submit" value="Update" class="btn" />
			</form>
		</div>
	</div>
</div>

{% endblock %}